################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SkavstaFlygplats.Api/bin
/SkavstaFlygplats.Api/obj
/SkavstaFlygplats.Web/bin
/SkavstaFlygplats.Web/obj
/SkavstaFlygplats.Shared/bin
/SkavstaFlygplats.Shared/obj
